body {
  background-color: #eedfca;
  font-size: 20px;
  color: #b45326;
  font-family: monospace;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.tekstplacering {
  position: absolute;
  top: 60%;
  left: 10%;
}

.grid-container {
  display: grid;
}
