body {
  background-color: #eedfca;
  font-size: larger;
  /* font-weight: 300; */
  color: #b45326;
  font-family: monospace;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
}

.container-of-grids {
  display: grid;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.storpandekage {
  position: relative;
  color: #b91c1c;
}

.tekstplacering {
  position: absolute;
  top: 62%;
  left: 13%;
}
